# chap 1: general intro on Python

## 1. negative infinity & positive infinity in Python

In [1]:
neg_infi = 1.8e308

In [2]:
print(neg_infi)

inf

In [3]:
pos_infi = 1e-325

In [4]:
print(pos_infi)

0.0

## 2. complex number calculation

In [5]:
a = 5 + 3j

In [6]:
print(a)

(5+3j)

In [7]:
b = 2 + 4j

In [8]:
print(b)

(2+4j)

In [9]:
c = a * b

In [10]:
print(c)

(-2+26j)

## 3. ascii illurstration:

https://www.asciiart.eu/

In [17]:
pix = """                                  
                         ..sSs$$$$$$b.                                       
                       .$$$$$$$$$$$$$$$.                                     
                    .$$$$$$$$$$$$$$$$$$$$$b.                                 
                  .$$$$$$$$$$$$$$$$$$$$$$$$$                                 
                 $$$$$$$$$$$$$$$$$S'   `$$$$                                 
                 $$$$$$$$$$$$$$S'        $$$                                 
                 $$$$$$$$$$$$$'          `$$.                                
                 `$$$$$$$$$$$$$           `$$$.                              
                   `$$$$$$$$$'       .s$$$ $$ $                              
                     $$$$$$$$$.sSs .s$$s"   s s                               
                      $$$$$$$$$$$$           $P                              
                      `$$$$$$$$$$$s          $                               
                        $$$$$$$$$$$.    ",                                   
                        `$$$$$$$$$$sS$                                       
        s$$$.            `$$$$$$$$$$$$.s"'   .$.                              
        $$$$$.              `$$$$$$$$$$.    .$$$Ss.s$s.                      
         $$$$$.              `$$$$$$$$$P   .$$$$$$$$$$$$.                    
         $$$$$$.               `$$$$$$$' .$$$$$$$$$$$$$$$$.                  
         `$$$$$$.                 $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$s.         
           $$$$$$.                `$$$$$$$$$ $$$$$$$$$$$$$$$$$$$$$$$$s.      
         .s$$$$$$$.                 `$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$.    
         s  $$$$$$$.                .$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$.   
         `$$$$$$$$$$.             .$$$' $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$. 
          `$$$$$$$$$$.           s$'   $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$. 
          $$$$$$$$$$$$e         $$$     `$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ 
        .' $$$$$$$$$$7         $$$$       `$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
       "   `$$$$$$$$7         $$$$$       .$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
      $$Ss..$$$$$$$7        $$$$$$$    .s$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
       $$$$$$$$$$$$        $$$$$$$$ .s$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$     .$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
      .$$$$$$$$$$$$$   .$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
      $$$$$$$$$$$$$$  .$$$$$$$$$$$ $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
      $$$$$$$$$$$$$$ .$$$$$$$$$$$' `$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
      $$$$$$$$$$$$$$ $$$$$$$$$$$$   `$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
      $$$$$$$$$$$$$$$$$$$$$$$$$$$    `$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
      `$$$$$$$$$$$$$$$$$$$$$$$$$$     `$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
       $$$$$$$$$$$$$$$$$$$$$$$$$$.     $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
       `$$$$$$$$$$$$$$$$$$$$$$$$$$     `$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
         $$$$$$$$$$$$$$$$$$$$$$$$$      $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
          $$$$$$$$$$$$$$$$$$$$$$$$      $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
           $$$$$$$$$$ $$$$$$$$$$$$      $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
            $$$$$$$$$$$$$$$$$$$$$$      $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
             $$$$$$$$$$$$$$$$$$$$'      $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
             `$$$$$$$$$$$$$$$$$$$       $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
              `$$$$$$$$$$$$$$$$$$.      $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
               `$$$$$$$$$$$$$$$$$$      $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
                 $$$$$$$$$$$$$$$$$.     $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
                  `$$$$$$$$$$$$$$$$     $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
                    $$$$$$$$$$$$$$$     `$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
                    $$$$$$$$$$$$$$$      $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$           
$    q$P    $$$'  `$$$   $$   $$$$$      `$$$$'  `$$$   $   $$   q$   $     $
$     $     $$'    `$$   qp   $$$$$   $b  `$$'    `$$.  $  .$$    q   $   $$$
$     '     $'  db  `$.      .$$$$$   $P  .$'  db  `$$     $$$        $   $$$
$           $   $$   $$s    s$$$$$$      .$$   $$   $$.   .$$$        $     $
$   b   d   $   $$   $'      `$$$$$   $$$$$$   $$   $$$   $$$$        $   $$$
$   $   $   $        $   db   $$$$$   $$$$$$        $$$   $$$$   b    $   $$$ 
$   $. .$   $   $$   $   $$   $$$$$   $$$$$$   $$   $$$   $$$$   $b   $     $ 
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
"""

In [18]:
print(pix)

                         ..sSs$$$$$$b.
                       .$$$$$$$$$$$$$$$.
                    .$$$$$$$$$$$$$$$$$$$$$b.
                  .$$$$$$$$$$$$$$$$$$$$$$$$$
                 $$$$$$$$$$$$$$$$$S'   `$$$$
                 $$$$$$$$$$$$$$S'        $$$
                 $$$$$$$$$$$$$'          `$$.
                 `$$$$$$$$$$$$$           `$$$.
                   `$$$$$$$$$'       .s$$$ $$ $
                     $$$$$$$$$.sSs .s$$s"   s s
                      $$$$$$$$$$$$           $P
                      `$$$$$$$$$$$s          $
                        $$$$$$$$$$$.    ",
                        `$$$$$$$$$$sS$
        s$$$.            `$$$$$$$$$$$$.s"'   .$.
        $$$$$.              `$$$$$$$$$$.    .$$$Ss.s$s.
         $$$$$.              `$$$$$$$$$P   .$$$$$$$$$$$$.
         $$$$$$.               `$$$$$$$' .$$$$$$$$$$$$$$$$.
         `$$$$$$.                 $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$s.
           $$$$$$.                `$$$$$$$$$ $$$$$$$$$$$$$$$$$$$$$$$$s.
         .s$$$$$$$.                 `$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$.
         s  $$$$$$$.                .$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$.
         `$$$$$$$$$$.             .$$$' $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$.
          `$$$$$$$$$$.           s$'   $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$.
          $$$$$$$$$$$$e         $$$     `$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        .' $$$$$$$$$$7         $$$$       `$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
       "   `$$$$$$$$7         $$$$$       .$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
      $$Ss..$$$$$$$7        $$$$$$$    .s$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
       $$$$$$$$$$$$        $$$$$$$$ .s$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
        $$$$$$$$$$$     .$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
      .$$$$$$$$$$$$$   .$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
      $$$$$$$$$$$$$$  .$$$$$$$$$$$ $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
      $$$$$$$$$$$$$$ .$$$$$$$$$$$' `$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
      $$$$$$$$$$$$$$ $$$$$$$$$$$$   `$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
      $$$$$$$$$$$$$$$$$$$$$$$$$$$    `$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
      `$$$$$$$$$$$$$$$$$$$$$$$$$$     `$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
       $$$$$$$$$$$$$$$$$$$$$$$$$$.     $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
       `$$$$$$$$$$$$$$$$$$$$$$$$$$     `$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
         $$$$$$$$$$$$$$$$$$$$$$$$$      $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
          $$$$$$$$$$$$$$$$$$$$$$$$      $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
           $$$$$$$$$$ $$$$$$$$$$$$      $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
            $$$$$$$$$$$$$$$$$$$$$$      $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
             $$$$$$$$$$$$$$$$$$$$'      $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
             `$$$$$$$$$$$$$$$$$$$       $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
              `$$$$$$$$$$$$$$$$$$.      $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
               `$$$$$$$$$$$$$$$$$$      $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
                 $$$$$$$$$$$$$$$$$.     $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
                  `$$$$$$$$$$$$$$$$     $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
                    $$$$$$$$$$$$$$$     `$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
                    $$$$$$$$$$$$$$$      $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$    q$P    $$$'  `$$$   $$   $$$$$      `$$$$'  `$$$   $   $$   q$   $     $
$     $     $$'    `$$   qp   $$$$$   $b  `$$'    `$$.  $  .$$    q   $   $$$
$     '     $'  db  `$.      .$$$$$   $P  .$'  db  `$$     $$$        $   $$$
$           $   $$   $$s    s$$$$$$      .$$   $$   $$.   .$$$        $     $
$   b   d   $   $$   $'      `$$$$$   $$$$$$   $$   $$$   $$$$        $   $$$
$   $   $   $        $   db   $$$$$   $$$$$$        $$$   $$$$   b    $   $$$
$   $. .$   $   $$   $   $$   $$$$$   $$$$$$   $$   $$$   $$$$   $b   $     $
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

## 4. strings operation

In [19]:
print("Fire" + ' Cracker')

Fire Cracker

In [27]:
print(f"I love Python and willing to give it my whole time!\n" * 5)

I love Python and willing to give it my whole time!
I love Python and willing to give it my whole time!
I love Python and willing to give it my whole time!
I love Python and willing to give it my whole time!
I love Python and willing to give it my whole time!

### Exercises 1

In [44]:
def welcome_note(name):
    print("Welcome to McDonalds {}".format(name.title()))

In [45]:
name_lst = ["yun", "mom", 'Eddie']

In [46]:
for i in name_lst:
    welcome_note(i)

Welcome to McDonalds Yun
Welcome to McDonalds Mom
Welcome to McDonalds Eddie

In [47]:
def int_2_float(intger):
    flot = float(intger)
    return flot

In [48]:
print(int_2_float(3))

3.0

## 5 list with input func

# *****VERY IMPORTANT*****

In [51]:
user_data = eval (input ('''Please enter your information in the following order:
                        ['Name', Age, Height (in metres), Married (enter True/False)]
                        '''))

Please enter your information in the following order:
                        ['Name', Age, Height (in metres), Married (enter True/False)]
                        'Eddie', 28, 1.78, False

In [52]:
print(user_data)

('Eddie', 28, 1.78, False)

In [70]:
Name = user_data[0]

In [71]:
print(Name)

Eddie

In [72]:
Marital = user_data[3]

In [73]:
print(f"{Name}'s marital status is {Marital}")

Eddie's marital status is False

In [74]:
print("{}'s marital is {}".format(Name, Marital))

Eddie's marital is False

In [75]:
Height = user_data[2]

In [76]:
Age = user_data[1]

In [83]:
print("""Here are your details:
       
       
       name: {}
       age: {}
       height: {}
       marital: {}
       """.format(Name, Age, Height, Marital))

Here are your details:


       name: Eddie
       age: 28
       height: 1.78
       marital: False

## 6. nested lists slicing and indexing

In [92]:
food_list = ['rice', 'salad', ['cake', 'ice-cream', 'cookies', 'donuts'], 'beans']

In [93]:
print(food_list)

['rice', 'salad', ['cake', 'ice-cream', 'cookies', 'donuts'], 'beans']

In [96]:
treats = food_list[2][1:3]

In [97]:
print(treats)

['ice-cream', 'cookies']

In [98]:
print("I love {} and {} as my small treats".format(treats[0], treats[1]))

I love ice-cream and cookies as my small treats

In [99]:
print(f"I love {treats[1]} and {treats[0]} as my fav treats")

I love cookies and ice-cream as my fav treats

## 7. string indexing and slicing

In [100]:
word_list = ['nautical', ['medieval', 'extravaganza'], 'extra']

In [101]:
print(word_list)

['nautical', ['medieval', 'extravaganza'], 'extra']

In [102]:
medi = word_list[1][0][:4]

In [103]:
print(medi)

medi

In [104]:
cal = word_list[0][-3:]

In [105]:
print(cal)

cal

In [106]:
medical = medi + cal

In [107]:
print(medical)

medical

## 8. working with lists [.append(); .extend(); .insert(); .remove(); .pop(); del()]

In [109]:
fruits = ['Apple', 'Orange', 'Banana', 'Cashew', 'Almond']

In [111]:
print(fruits)

['Apple', 'Orange', 'Banana', 'Cashew', 'Almond']

In [112]:
fruits[0] = 'Guava'

In [114]:
print(fruits)

['Guava', 'Orange', 'Banana', 'Cashew', 'Almond']

In [115]:
fruits.append(['Durian', 'lamb'])

In [116]:
print(fruits)

['Guava', 'Orange', 'Banana', 'Cashew', 'Almond', ['Durian', 'lamb']]

In [119]:
fruits.pop()

['Durian', 'lamb']

In [120]:
print(fruits)

['Guava', 'Orange', 'Banana', 'Cashew', 'Almond']

In [121]:
fruits.extend(['Durian', 'Grape', 'Berry'])

In [122]:
fruits

['Guava', 'Orange', 'Banana', 'Cashew', 'Almond', 'Durian', 'Grape', 'Berry']

In [123]:
## 9. lists operations

In [124]:
lst_1 = ["A", "B", 'C', 'D']

In [128]:
lst_2 = [1, 2, 3]

In [133]:
print(type(lst_2[1]))

<class 'int'>

In [129]:
lst_3 = lst_1 + lst_2

In [130]:
print(lst_3)

['A', 'B', 'C', 'D', 1, 2, 3]

In [131]:
lst_4 = lst_2 * 3

In [132]:
print(lst_4)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [134]:
print(type(lst_4[5]))

<class 'int'>

## 9. tuple packing & unpacking

In [140]:
tup_1 = 'Eddie', 'Marry', "James"                        # tuple declarition is packing

In [137]:
print(tup_1)

('Eddie', 'Marry', 'James')

In [139]:
print(type(tup_1))

<class 'tuple'>

In [141]:
A, B, C = tup_1                                          # tuple unpacking

In [142]:
print(A, B, C)

Eddie Marry James

## 10. nested tuples and its usefulness (inner tuple unpacking)

In [144]:
user_info = (('Name','James'),( 'Age',22))

In [145]:
print(user_info)

(('Name', 'James'), ('Age', 22))

In [146]:
A, B = user_info[0]

In [150]:
print(f"{A}, {B}")

Name, James

In [151]:
C, D = user_info[1]

In [152]:
print(f"{C}, {D}")

Age, 22

## 11. dictionary defined using dict()

In [160]:
dict_1 = dict([('Name', 'Eddie')])                          # looks like dict() only accepts tuple enclosed in [ ] as args

In [158]:
print(dict_1)

{'Name': 'Eddie'}

In [159]:
dict_2 = dict([('Name_1', 'Eddie'), ('Name_2', 'Mary')])

In [160]:
print(dict_2)

{'Name_1': 'Eddie', 'Name_2': 'Mary'}

## 12. dir() statement

In [161]:
str = "Eddie"

In [162]:
int_1 = 5

In [163]:
float_1 = 3.5

In [164]:
lst_1 = ['A', 'B', 'C']

In [165]:
tup_1 = "D", "E", "f"

In [173]:
dir(str)[:6]

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__']

In [176]:
dir(int_1)[:6]

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__']

In [177]:
dir(float_1)[:6]

['__abs__', '__add__', '__bool__', '__class__', '__delattr__', '__dir__']

In [179]:
dir(lst_1)[:5]

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__']

In [180]:
dir(tup_1)[:6]

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__']

In [184]:
dir(dict_1)[:5]

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__']

## 13. boolean

In [193]:
print ('Ma' in 'Max Payne')

True

In [194]:
print (2 in [1,3,4,5])

False

In [192]:
print (True in [1, 0])

True

### Exercises 2:

In [196]:
lst_1 = ['Beans', 'Wheat', 'Bread']

In [197]:
print(lst_1)

['Beans', 'Wheat', 'Bread']

In [198]:
lst_2 = ['Rice', 'Plantain', 'Pizza', 'Spaghetti']

In [199]:
print(lst_2)

['Rice', 'Plantain', 'Pizza', 'Spaghetti']

In [200]:
('Rice' in lst_1) and ('Rice' in lst_2)

False

In [201]:
('Rice' in lst_1) or ('Rice' in lst_2)

True

In [202]:
('Pizza' in lst_1) or ('Rice' in lst_2)

True

In [218]:
dict_2 = {"key_tup" : list(range(11)),
           101: (22, 23, 24, 25)
         }

In [219]:
print(dict_2['key_tup'])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [214]:
dict_2['key_tup'][1]

1

In [215]:
dict_2['key_tup'][1] =  111

In [216]:
dict_2['key_tup'][1]

111

In [217]:
print(dict_2['key_tup'])

[0, 111, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [220]:
dict_2[101]

(22, 23, 24, 25)

In [221]:
dict_2[101][1]

23

In [222]:
dict_2[101][1] = 23333

TypeError: 'tuple' object does not support item assignment

In [223]:
dict_2.keys()

dict_keys(['key_tup', 101])

In [224]:
dict_2.keys()[0] = 'A'

TypeError: 'dict_keys' object does not support item assignment

In [225]:
dict_2.keys()[1] = '10101'

TypeError: 'dict_keys' object does not support item assignment

## 14. if

# *****VERY IMPORTANT*****

In [9]:
password_pool = 'Smith_crete','Alex@456','CEO4life'

In [10]:
user_input = input('Please now enter your password: \n')

Please now enter your password:
asfsaf

In [11]:
if user_input in password_pool:
    print(f'welcome! you have the right code, which of is {user_input}')
else:
    print(f"Sorry, you don't have matched code, yours is {user_input}, not in our passcode pool.")

Sorry, you don't have matched code, yours is asfsaf, not in our passcode pool.

In [12]:
price1 = 5

In [13]:
price2 = 7

In [24]:
days_past_due = eval(input("how many days past due? "))        # ***

how many days past due? 5

In [25]:
if days_past_due <= 3:
    print(f"Your day past due is {days_past_due} and you own a fee of ${price1 * days_past_due}")
elif days_past_due <= 10:
    print(f"Your day past due is {days_past_due} and you own a fee of ${price2 * days_past_due}")
else:
    print(f"Your day past due is {days_past_due} and you own a fee of ${days_past_due * 16}")

Your day past due is 5 and you own a fee of $35

## 15. while loop

# *****VERY IMPORTANT*****

In [27]:
count =1
while count < 6:
    print("I have this info printed 5 times")
    count += 1

I have this info printed 5 times
I have this info printed 5 times
I have this info printed 5 times
I have this info printed 5 times
I have this info printed 5 times

### ***

In [49]:
count = 0                            # ***  need ponderance              
while count < 10:
    count += 1
    if count == 8:
        continue
    print(count)

1
2
3
4
5
6
7
9
10

In [47]:
count = 0                              # this is wrong
while count < 10:
    if count == 8:
        continue
    count += 1
    print(count)

1
2
3
4
5
6
7
8

KeyboardInterrupt:

In [90]:
i = 1                                                # *** this is really important and need further ponderance 
j =1
while i < 11:                                        # *** this can be applied in coding real code for algorithm
    print(f"iteration {j}th time now")
    if j >= 15:
        break
    j += 1
        
    if i == 8:
        continue
    print(f"value is {i}")
    i += 1
else:
    print('Program has ended')

iteration 1th time now
value is 1
iteration 2th time now
value is 2
iteration 3th time now
value is 3
iteration 4th time now
value is 4
iteration 5th time now
value is 5
iteration 6th time now
value is 6
iteration 7th time now
value is 7
iteration 8th time now
iteration 9th time now
iteration 10th time now
iteration 11th time now
iteration 12th time now
iteration 13th time now
iteration 14th time now
iteration 15th time now

## 16. for loop

# *****VERY IMPORTANT*****

In [1]:
lst_1 = input("Please input a sequence using []: ")

Please input a sequence using []: ['Bo', 89]

In [2]:
for i in lst_1:
    print(i)

[
'
B
o
'
,

8
9
]

In [9]:
lst_2 = eval(input("Please input a list using []: "))               # ***

Please input a list using []: ['Bo', 89]

In [10]:
for i in lst_2:
    print(i)

Bo
89

In [13]:
lst = list(range(1,11))

In [14]:
for i in lst:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [15]:
lst_sqr = [i**2 for i in lst]

In [16]:
print(lst_sqr)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [161]:
lst_str = ['Matrix', 'Trilogy', 1, 3.4, 'Cattle']

In [37]:
lst_str_first_3 = [i[0:3] for i in lst_str if type(i) == str]

In [38]:
print(lst_str_first_3)

['Mat', 'Tri', 'Cat']

In [40]:
lst_str.extend(['PA','Godlike'])

In [41]:
print(lst_str)

['Matrix', 'Trilogy', 1, 3.4, 'Cattle', 'PA', 'Godlike']

In [42]:
lst_str_first_3_sec = [i[0:3] for i in lst_str if (type(i) == str) and (len(i) >= 3)]

In [43]:
print(lst_str_first_3_sec)

['Mat', 'Tri', 'Cat', 'God']

In [50]:
iter_nums = eval(input('Please enter your number: '))

Please enter your number: 5

In [51]:
print(type(iter_nums))

<class 'int'>

In [53]:
[i/2 if i%2 == 0 else i**2 for i in range(1, iter_nums+1)]

[1, 1.0, 9, 2.0, 25]

## 17. function        (ctrl + tab to view docstring)

In [162]:
def even_odd(iter_nums):
    """This function calculates a sequence and return values
        based on the oddity of the number"""
    lst_manipulated = [i/2 if i%2 == 0 else i**2 for i in range(1, iter_nums+1)]
    return lst_manipulated

In [163]:
even_odd(6)

[1, 1.0, 9, 2.0, 25, 3.0]

## 18 .isdigit() method

In [57]:
string = '123456ABC'

In [67]:
nums_str = [i for i in string if i.isdigit()]

In [68]:
print(nums_str)

['1', '2', '3', '4', '5', '6']

In [69]:
nums = []
for i in nums_str:
    nums.append(int(i))

In [70]:
print(nums)

[1, 2, 3, 4, 5, 6]

In [74]:
even_odd(nums[4])

[1, 1.0, 9, 2.0, 25]

## 19. lambda expressions (anonymous function)

Lambda expressions are used in instances where you would not want to write a full function. In this case, you only need to use the function temporarily, and defining an entire function for just that seems redundant.

In [75]:
def sqr(num):
    '''This is a sqr function'''
    return num ** 2

In [76]:
sqr(5)

25

In [80]:
sqre = lambda num: num ** 2

In [81]:
sqre(7)

49

## 20. map function

The map function is another convenient way of working with lists, especially in cases where there is a need to pass the elements of a list to a function in an iteration. As expected, for loops are the first consideration for such a task. However, the map function, which iterates through every element in a list and passes them to a function argument, simplifies such task.

var = list(map(function, sequence/list))

In [82]:
lst = list(range(1, 11))

In [83]:
lst_sqre = map(sqre, lst)

In [84]:
lst_sqre

In [85]:
list(lst_sqre)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [87]:
def lst_maker(length):
    ''' docstring here'''
    return list(range(1, length+1))

In [88]:
lst_maker(8)

[1, 2, 3, 4, 5, 6, 7, 8]

In [102]:
lst_maker_lambda = lambda length: list(range(1, length+1))

In [103]:
lst_10 = lst_maker_lambda(10)

In [104]:
print(lst_10)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [98]:
def print_myself(lst):
    for i in lst:
        print(i)

In [166]:
map(print_myself, lst_10)

## 21. filter function

These are used for extracting specific elements of a sequence based on a Boolean function. The Boolean function can also be created using a lambda expression, and the filter returns the expected values that meet the filter criteria (consider it as a simplified version of an if statement).

Syntax: filter (function, sequence/list)

In [110]:
num_lst = list(range(1, 51))

In [111]:
print(num_lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [112]:
criterion = lambda i: i % 2 == 0

In [113]:
even_num = filter(criterion, num_lst)

In [114]:
print(list(even_num))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

### Exercises 3

In [118]:
lst = list(range(1, 26))

In [116]:
sqrt = lambda i: i ** 0.5

In [117]:
sqrt(25)

5.0

In [122]:
lst_sqrt = list(map(sqrt, lst))

In [123]:
lst_sqrt

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795,
 3.3166247903554,
 3.4641016151377544,
 3.605551275463989,
 3.7416573867739413,
 3.872983346207417,
 4.0,
 4.123105625617661,
 4.242640687119285,
 4.358898943540674,
 4.47213595499958,
 4.58257569495584,
 4.69041575982343,
 4.795831523312719,
 4.898979485566356,
 5.0]

In [124]:
criterion = lambda i : i % 2 == 0

In [125]:
lst_even = filter(criterion, lst)

In [126]:
list(lst_even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [127]:
quantity = 'Gravity'

In [131]:
unit = 'm/s^2'

In [129]:
value = 10

In [132]:
print("{} has a value of {} {}".format(quantity, value, unit))

Gravity has a value of 10 m/s^2

In [136]:
def good_check(lst):
    if 'good' in lst:
        print("True")
    else:
        print("False")

In [137]:
good_check(['a', 'c', 'good'])

True

In [138]:
good_check(['a', 'c', 'food'])

False

In [143]:
lst = ['bread', 'rice', 'butter', 'beans', 'pizza', 'lasagna', 'eggs']

In [144]:
criterion = lambda i : i[0] != 'b'

In [145]:
not_b = filter(criterion, lst)

In [147]:
print(list(not_b))

['rice', 'pizza', 'lasagna', 'eggs']

In [148]:
list = [1,2,[3,4],[5,[100,200,['hello Python']],23,11],1,7]

In [149]:
list[3][1][2]

['hello Python']

In [156]:
def name_score(name, score):
    if score < 40:
        msg = f'{name}, your grade is F'
    elif score < 44:
        msg = f"{name}, your grade is E"
    elif score < 49:
        msg = f"{name}, your grade is D" 
    elif score < 59:
        msg = f"{name}, your grade is C" 
    elif score < 69:
        msg = f"{name}, your grade is B" 
    elif score >= 70:
        msg = f"{name}, your grade is A" 
    return msg

In [157]:
name_score("Eddie", 78)

'Eddie, your grade is A'